#canvas1 {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(90deg, blue, purple, black, purple, blue);
}
#canvas-controls {
  width: 200px;
  position: fixed;
  left: 0;
  bottom: -55px;
  z-index: 88888;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top-right-radius: 12px;
  background: rgba(0, 0, 0, 0.3);
  transition: all 400ms ease-in-out;
}
#canvas-controls.open {
  bottom: 0;
}
#canvas-controls.open .open-close-controls-btn::before {
  left: 6px;
}
#canvas-controls.open .open-close-controls-btn::after {
  left: -5px;
}
@media (max-width: 777px) {
  #canvas-controls {
    display: none;
  }
}
.controls-row1 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.controls-row1 p {
  height: fit-content;
  padding-left: 11px;
  color: white;
  text-align: center;
  font-size: 12px;
}
.open-close-controls-btn {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-top-right-radius: 12px;
  font: 22px/33px sans-serif;
  cursor: pointer;
}
.open-close-controls-btn:hover {
  background: rgb(0, 0, 255, 0.5);
}
.open-close-controls-btn::before,
.open-close-controls-btn::after {
  content: "";
  width: 12px;
  height: 1px;
  position: relative;
  left: 3px;
  transform: rotate(-45deg);
  background: white;
}
.open-close-controls-btn::after {
  left: -1px;
  transform: rotate(45deg);
}
.open-close-controls-btn.open:hover {
  background: rgb(255, 0, 0, 0.5);
}
#randomize-btn,
#reset-btn {
  width: 70%;
  padding: 4px;
  border: 1px solid black;
  border-radius: 11px;
  cursor: pointer;
  font-size: 13px;
  color: white;
}
#reset-btn {
  color: black;
}
.slider-container {
  /* MADE SLIDERS DISPLAY NONE HERE !!!!!! */
  display: none;
  align-items: center;
  justify-content: space-between;
}
#canvas-controls label,
#canvas-controls input {
  padding: 7px 0;
  color: white;
  font-size: 9px;
}
