.to-top-btn {
  width: 35px;
  height: 35px;
  position: fixed;
  left: 10px;
  bottom: 10px;
  z-index: 8888;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 50%;
  box-shadow: -1px 1px 3px 1px rgb(0, 0, 0, 0.3);
  background: white;
  cursor: pointer;
  transform: scale(0);
  transition: transform 100ms linear;
}
.to-top-btn::before {
  content: "";
  width: 12px;
  height: 2px;
  border-radius: 2px;
  position: absolute;
  top: 14px;
  left: 8px;
  background: rgb(100, 100, 100);
  transform: rotate(-45deg);
}
.to-top-btn::after {
  content: "";
  width: 12px;
  height: 2px;
  border-radius: 2px;
  position: absolute;
  top: 14px;
  right: 8px;
  background: rgb(100, 100, 100);
  transform: rotate(45deg);
}
.to-top-btn.open {
  transform: scale(1);
}
