.cgi-page {
  min-height: 100vh;
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  pointer-events: all;
  background: linear-gradient(black, rgb(175, 175, 175), black);
}
.cgi-page h1 {
  font: 600 clamp(1.5rem, 5vw, 1.9rem) sans-serif;
}
.cgi-page p {
  padding: 5px 0;
  font: lighter clamp(0.7rem, 5vw, 1rem) sans-serif;
}
.sub-heading {
  display: flex;
  flex-wrap: wrap;
  padding: 50px 0;
}
.cgi-page h2 {
  width: fit-content;
}
.animated-text {
  padding: 0 15px;
  color: aqua;
  font: 33px Blackpast;
  animation: scale-text 4s linear infinite;
  cursor: pointer;
}
@keyframes scale-text {
  50% {
    transform: scale(1.3);
  }
}
.animated-text:hover {
  color: rgb(64, 160, 255);
  animation: shake 2s infinite;
}
@keyframes shake {
  50% {
    transform: scale(1.5);
  }
  55% {
    transform: scale(1.5) rotateZ(10deg);
  }
  60% {
    transform: scale(1.5) rotateZ(-10deg);
  }
  65% {
    transform: scale(1.5) rotateZ(10deg);
  }
  70% {
    transform: scale(1.5) rotateZ(-10deg);
  }
  100% {
    transform: scale(1);
  }
}
.cgi-model-container {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid lightgray;
}
.cgi-model-container h2 {
  padding: 20px 0;
}
.cgi-model-container p {
  padding: 20px 0;
}
.cgi-model-image {
  max-width: 100%;
}
.cgi-model-link {
  margin: 20px 0;
  padding: 5px 10px;
  border: 1px solid lightgray;
  border-radius: 20px;
  color: white;
  font: 20px sans-serif;
}
.sketchfab-link {
  padding: 10px 0;
  color: white;
  text-decoration: underline;
}

.cgi-model-section {
  height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px;
  background: white;
  pointer-events: all;
}
.horsemen-2-canvas {
  width: 100%;
  max-height: 600px;
  border: solid;
  background: linear-gradient(rgba(0, 0, 0, 0), grey, black, black), url("../../images/pexels-pixabay-sunpurple-640.jpg");
  background-size: 100%;
}
.ayanami-canvas {
  background: linear-gradient(purple, pink, purple);
}
.test-canvas {
  background: radial-gradient(black 50%,gray);
}
