.home-page {
  width: 100%;
  height: calc(100vh - 50px);
  position: relative;
  z-index: 888;
}
@media (max-height: 550px) {
  .home-page {
    height: fit-content;
  }
}
.text-box {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  color: white;
}
.text-box h1 {
  padding: 33px 5px 5px 5px;
  position: relative;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  font: 12px/12px Lorea;
  font-size: clamp(1em, 0.2em + 5vw, 2em);
  letter-spacing: 3px;
  box-shadow: 0 7px 7px 1px rgb(0, 0, 0, 0.3);
  background: linear-gradient(transparent 33%, blue 90%);
}
.text-box p {
  width: 220px;
  padding: 20px 0;
  margin-bottom: 5px;
  position: relative;
  font-size: clamp(0.6rem, 5vw, 1.3rem);
  border-radius: 50%;
  box-shadow: 0 3px 5px 3px rgb(0, 0, 0, 0.3), inset 0 -7px 22px 8px rgb(0, 0, 183);
  background: radial-gradient(circle at 60% 30%, rgb(255, 255, 255, 0.7) 5%, rgba(18, 74, 164, 0.9), rgba(31, 31, 255, 0.5), black 98%);
}
.action-btn {
  width: fit-content;
  height: fit-content;
  padding: 7px 25px;
  margin-bottom: 50px;
  font-size: clamp(1em, 0.2em + 5vw, 1.5em);
  color: rgb(255, 255, 255);
  border-radius: 15px;
  box-shadow: 0 3px 5px 3px rgb(0, 0, 0, 0.5), inset 2px -3px 5px 2px rgba(0, 0, 255);
  background: radial-gradient(ellipse at 50% 10%, rgb(103, 192, 255) 5%, rgb(0, 0, 255, 0.8), black);
  transition: 1s ease;
  pointer-events: all;
  animation: action-btn-pulsing 3s ease-in-out infinite;
}
@keyframes action-btn-pulsing {
  50% {
    transform: scale(1.1);
  }
}
.tap-message {
  width: 20px;
  height: fit-content;
  padding: 11px 0;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  display: flex;
  align-items: center;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  writing-mode: vertical-lr;
  text-orientation: upright;
  color: white;
  font: 11px/33px sans-serif;
}
.tap-message-2 {
  left: calc(100vw - 20px);
}
