.css-page {
  min-height: 100vh;
  padding: 22px 0 calc(100vh - 50px) 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(45deg, rgb(255, 255, 255, 0.8), rgb(0, 0, 255, 0.8), rgb(255, 255, 255, 0.8), rgb(0, 0, 255, 0.8));
  pointer-events: all;
}
.css-page h1 {
  font: 200 clamp(1.3rem, 5vw, 1.7rem) sans-serif;
}
.css-page p {
  padding: 5px 0;
  font: lighter clamp(0.7rem, 5vw, 1rem) sans-serif;
}
.css-page .heading {
  width: fit-content;
  height: 70px;
  padding: 0 12px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font: 33px Lorea;
  color: white;
  background: linear-gradient(0deg, hsl(200, 100%, 50%) 10%, rgba(0, 0, 255, 0.7) 13% 21%, hsl(200, 100%, 50%) 24% 31%, rgba(0, 0, 255, 0.7) 33% 39%, hsl(200, 100%, 50%) 41% 46%, rgba(0, 0, 255, 0.7) 48% 52%, hsl(200, 100%, 50%) 51% 54%, rgba(0, 0, 255, 0.7) 55% 57%, transparent);
}
.main-content {
  width: 100%;
  padding: 33px 12px 200px 12px;
  position: relative;
  background: white;
}

/* transform-style: preserve-3d; !!!!!!!THIS STYLING WAS ACTUALLY ABLE TO ACT LIKE A Z-INDEX WHEN THE ELEMENT'S POSITION (IN THIS CASE RELATIVE) WAS NOT DECLARED!!!VERY INTERESTING*/

.effects-section {
  width: 100%;
  margin-top: 88px;
  font: 25px sans-serif;
}
.effects-container {
  padding: 23px 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  box-shadow: inset 0 2px 4px 1px rgb(0, 0, 0, 0.5);
}
/* BORDER EFFECT /////////// */
.border-effect-container {
  height: fit-content;
  margin: 12px 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.border-effect-wrapper {
  width: fit-content;
  border: 1px solid;
  border-radius: 6px;
}
.border-effect-box {
  width: 212px;
  height: 88px;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 1px 2px 3px 3px rgba(0, 0, 0, 0.4);
}
.border-effect-box::before {
  content: "";
  width: 200%;
  height: 400%;
  position: absolute;
  left: -50%;
  top: -150%;
  background: conic-gradient(blue, aqua);
  animation: rotate 4s infinite linear;
}
@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
.border-effect-box::after {
  content: "Learn to create border effects";
  width: 208px;
  height: 84px;
  position: relative;
  top: 2px;
  left: 2px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  font: 20px sans-serif;
  color: white;
  letter-spacing: 2px;
  text-align: center;
  background: radial-gradient(blue, black);
}
/* ///////// */
.or-text-box {
  padding: 12px 6px;
  margin: 0 8px;
  font: 22px sans-serif;
}
/* WAVE TEXT /////////////////////////////// */
.text-wave-effect-container {
  width: fit-content;
  height: fit-content;
  margin: 12px 4px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 4px solid rgb(0, 0, 255, 0.3);
  border-radius: 8px;
  box-shadow: 1px 2px 4px 1px rgba(0, 0, 0, 0.5);
  background: linear-gradient(45deg, purple, magenta);
}
.text-wave-effect-container h2 {
  position: relative;
  font: 3rem Poppins, sans-serif;
  color: white;
  /* -webkit-text-stroke: 1px gray; */
}
.text-wave-effect-container h2::after {
  content: "text effects";
  position: absolute;
  left: 0;
  color: rgb(59, 153, 241);
  animation: wave-text-anim 3s ease-in-out infinite;
}
@keyframes wave-text-anim {
  0%,
  100% {
    clip-path: polygon(0% 45%, 16% 44%, 33% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
  }

  50% {
    clip-path: polygon(0% 60%, 15% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
  }
}
.back-btn {
  padding: 8px 12px;
  position: absolute;
  left: 0;
  border: none;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
.cube-effects-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.cube-effects-container .column {
  margin-bottom: 33px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cube-effects-container .column-1 {
  margin-right: 12px;
}
/* PYRAMID SECTION ////////////////// */
.pyramid-container {
  height: 400px;
  width: 60%;
  position: relative;
  top: -150px;
  left: 40%;
  border: 1px solid aliceblue;
}
.pyramid-wrapper {
  height: 100%;
  width: 100%;
  background: linear-gradient(rgb(255, 255, 255), black, lightgray);
  background-position: top;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 400px;
  perspective-origin: 50%;
}
.pyramid {
  width: 200px;
  height: 200px;
  transform-style: preserve-3d;
  position: relative;
  top: -30px;
  animation: pyramid-spin 11s linear infinite;
}
@keyframes pyramid-spin {
  100% {
    transform: rotateY(360deg);
  }
}
.pyramid div {
  height: 200px;
  width: 200px;
  position: absolute;
  /* backface-visibility: ; */
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  border-bottom: 1px solid lightgray;
}
.pyramid img {
  width: 100%;
  height: 100%;
}
.pyramid .pyramid-front {
  transform: translateZ(100px) rotateX(30deg) translateY(-29px) translateZ(-42px);
  background: linear-gradient(rgb(253, 5, 5, 0.5), lightgray, black);
}
.pyramid .pyramid-right {
  transform: rotateY(-270deg) translateX(100px) rotateX(30deg) translateY(-42px) translateZ(-92px);
  transform-origin: 100% 0;
  background: linear-gradient(rgb(133, 3, 247, 0.5), lightgray, black);
}
.pyramid .pyramid-back {
  transform: translateZ(-100px) rotateY(180deg) rotateX(30deg) translateY(-29px) translateZ(-42px);
  background: linear-gradient(rgb(6, 11, 249, 0.5), lightgray, black);
}
.pyramid .pyramid-left {
  transform: rotateY(270deg) translateX(-100px) rotateX(30deg) translateY(-28px) translateZ(-41px);
  transform-origin: 0 50%;
  background: linear-gradient(rgb(81, 248, 55, 0.5), lightgray, black);
}
.pyramid .pyramid-shadow {
  background: rgb(0, 0, 0, 0.4);
  transform: rotateX(90deg) translateZ(-130px);
  border: none;
  box-shadow: 0 0 20px 10px rgb(0, 0, 0, 0.5);
  clip-path: none;
}
