.tut-page-container * {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.tut-page-container {
  width: 100%;
  min-height: 100vh;
  padding: 44px 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  pointer-events: all;
  background: white;
}
.tut-page-container h1 {
  padding: 22px;
}
.tut-page-container p {
  max-width: 800px;
  padding: 33px 0;
}
.open-all-code {
  display: inline;
  text-decoration-line: underline;
  color: blue;
  cursor: pointer;
}
.code-example-container {
  max-width: 100%;
  position: relative;
  color: black;
}
.all-code-container {
  display: none;
}
.all-code-container.open {
  display: flex;
}
.close-all-code {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 0;
}
.code-example {
  max-width: 100%;
  padding: 22px;
  overflow-x: auto;
  font: 15px Consolas, "Courier New", monospace;
  background: hsl(0deg 0% 97%);
}
.copy-code-btn {
  width: 40px;
  height: 40px;
  position: absolute;
  right: 0;
  bottom: 0;
  border: none;
  border-top-left-radius: 9px;
  box-shadow: inset 0 0 4px 1px rgb(0, 0, 0, 0.05);
  background: url(/src/assets/icons/copy-solid-color.svg) 70% 70% / 50% no-repeat hsl(0deg 0% 97%);
}
.copy-code-btn::after {
  content: "code copied";
  width: 80px;
  height: fit-content;
  position: absolute;
  right: 40px;
  bottom: 7px;
  border-bottom: 1px solid gray;
  color: gray;
  display: none;
}
.copy-code-btn.clicked.copy-code-btn::after {
  display: block;
}
