.cube-container,
.spinning-top-container {
  width: 300px;
  height: 300px;
  border-top: 4px solid gray;
  border-left: 4px solid rgb(192, 192, 192);
  border-bottom: 4px solid rgb(222, 222, 222);
  border-right: 4px solid rgb(154, 154, 154);
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 600px;
  perspective-origin: 50%;
  overflow: hidden;
  background: linear-gradient(white, skyblue 30% 40%, pink 40%, rgb(255, 95, 255) 54%, white);
}
/* COLOR CUBE //////////////// */
.color-cube {
  height: 100px;
  width: 100px;
  position: relative;
  transform-style: preserve-3d;
  animation: color-cube-rotateY 12s linear infinite;
}
@keyframes color-cube-rotateY {
  to {
    transform: rotateY(360deg);
  }
}
.color-cube.anim {
  animation: color-cube-anim-2 13s ease-in-out;
}
@keyframes color-cube-anim-2 {
  50% {
    transform: rotateX(18000deg) rotateY(180deg);
  }
}
.color-cube .side {
  height: 100%;
  width: 100%;
  position: absolute;
  border: 2px solid rgba(255, 0, 255, 0.5);
  background: rgb(0, 0, 255, 0.5);
}
.color-cube .front,
.color-cube .back {
  background: url(../../../logos/jsive-logo-at-100.png) 50%/80% no-repeat, rgb(0, 0, 255, 0.5);
}
.color-cube .left {
  transform: translateX(-50px) rotateY(90deg);
}
.color-cube .right {
  transform: translateX(50px) rotateY(90deg);
}
.color-cube .back {
  transform: translateZ(-50px) rotateY(180deg);
}
.color-cube .top {
  background: rgb(255, 0, 255, 0.5);
  transform: translateY(-50px) rotateX(90deg);
}
.color-cube .bottom {
  background: rgb(255, 0, 255, 0.5);
  transform: translateY(50px) rotateX(90deg);
}
.color-cube .front {
  transform: translateZ(50px);
}
.color-cube .shadow {
  border: none;
  border-radius: 5px;
  background: radial-gradient(rgb(0, 0, 0, 0.1), rgb(0, 0, 0, 0.05));
  transform: translateY(120px) rotateX(90deg);
}
.color-cube.anim .shadow {
  background: none;
}
/* SPINNING, FLYING TOP //////////////////////// */
.spinning-top {
  height: 100px;
  width: 50px;
  position: relative;
  top: 50px;
  transform-style: preserve-3d;
  transform: rotateY(35deg);
  animation: spinning-top-rotateY 8s linear infinite;
}
@keyframes spinning-to-rotateY {
  to {
    transform: rotateY(360deg);
  }
}
.spinning-top.anim {
  animation: spinning-top-anim-2 8s ease-in infinite;
}
@keyframes spinning-to-anim-2 {
  20% {
    top: 50px;
    right: 0;
  }
  40% {
    top: -100px;
    right: 0;
  }
  50% {
    top: -80px;
  }
  60% {
    top: -70px;
    right: 125px;
  }
  70% {
    top: -70px;
    right: -125px;
  }
  80% {
    right: 125px;
  }
  85% {
    right: -125px;
  }
  90% {
    top: 50px;
    right: 125px;
  }
  93% {
    right: -125px;
    transform: rotateY(30000deg) rotateX(0);
  }
  96% {
    right: -90px;
    transform: rotateY(31820deg) rotateX(75deg);
  }
  100% {
    right: -90px;
    transform: rotateY(31820deg) rotateX(75deg);
    animation-timing-function: ease-out;
  }
}
.spinning-top .side {
  height: 100%;
  width: 100%;
  position: absolute;
  clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
}

.spinning-top .front,
.spinning-top .back {
  background: rgb(255, 0, 255, 0.5);
}
.spinning-top .left,
.spinning-top .right {
  background: linear-gradient(rgb(0, 155, 255), purple);
}
.spinning-top .front {
  transform-origin: 25px 100px;
  transform: rotateY(-43px);
}
.spinning-top .right {
  transform: rotateY(-270deg) translateX(25px) rotateX(-15deg) translateY(3px);
  transform-origin: 100% 0;
}
.spinning-top .back {
  transform: translateZ(-13px) rotateY(180deg) rotateX(-15deg);
}
.spinning-top .left {
  transform: rotateY(90deg) translateX(-25px) rotateX(15deg) translateZ(12px) translateY(3px);
  transform-origin: 0 50%;
}
.spinning-top .top {
  height: 50px;
  clip-path: none;
  top: -25px;
  transform: rotateX(90deg) rotateZ(180deg);
  background: url(../../../logos/jsive-logo-at-100.png) 50% / 90% no-repeat, radial-gradient(magenta, pink);
}
.spinning-top-container .shadow {
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: -10px;
  transform: rotateX(90deg);
  border-radius: 8px;
  background: radial-gradient(rgb(0, 0, 0, 0.1), rgb(0, 0, 0, 0.05));
  animation: shadow-rotate 8s linear infinite;
}
@keyframes shadow-rotate {
  from {
    transform: rotateX(90deg) rotateZ(0);
  }
  to {
    transform: rotateX(90deg) rotateZ(-360deg);
  }
}
.shadow.anim {
  animation: shadow-anim 8s ease-in infinite;
}
@keyframes shadow-anim {
  0% {
    bottom: -10px;
    transform: rotateX(90deg) rotateZ(0);
  }
  20% {
    right: 125px;
  }
  40% {
    right: 125px;
  }
  60% {
    bottom: 0;
    right: 250px;
  }
  70% {
    right: 0;
  }
  80% {
    right: 250px;
  }
  85% {
    right: 0;
  }
  90% {
    bottom: 10px;
    right: 250px;
  }
  93% {
    right: 0;
    bottom: 10px;
    transform: rotateX(90deg) rotate(-30000deg);
  }
  96% {
    right: 35px;
    bottom: 55px;
    transform: rotateX(90deg) rotate(-31820deg);
  }
  100% {
    right: 35px;
    bottom: 55px;
    transform: rotateX(90deg) rotate(-31820deg);
  }
}
