.sprite-scene-container {
  background: url(../sprite-scene/assets/cityscape01-4000x500.jpg) repeat-x;
  background-size: 4000px 500px;
  animation: sprite-scene-background-anim 60s linear infinite;
}

@keyframes sprite-scene-background-anim {
  0% {
    background-position: 0;
  }
  100% {
    background-position: -4000px;
  }
}

.monster {
  height: 100px;
  width: 154px;
  background: url(../sprite-scene/assets/monster-100.png);
  transform: rotateY(180deg);
  position: absolute;
  top: 230px;
  left: 30%;
  animation: crawl 500ms steps(21) infinite;
}

.monster-2 {
  top: 260px;
  left: 50%;
  z-index: 888;
  transform: rotateY(180deg) scale(0.4);
  animation: crawl 200ms steps(21) infinite;
}

@keyframes crawl {
  100% {
    background-position: -3240px, 0;
  }
}
