.sprite-scene-container {
  background: url(../sprite-scene/assets/cityscape01-711x200.jpg) repeat-x;
  background-size: 711px 300px;
  animation: sprite-scene-background-anim 25s linear infinite;
}

@keyframes sprite-scene-background-anim {
  0% {
    background-position: 0;
  }
  100% {
    background-position: -711px;
  }
}

.monster {
  height: 100px;
  width: 154px;
  background: url(../sprite-scene/assets/monster-100.png);
  transform: rotateY(180deg);
  position: absolute;
  top: 180px;
  left: calc(50% - 77px);
  animation: crawl 2000ms steps(21) infinite;
}

@keyframes crawl {
  100% {
    background-position: -3240px, 0;
  }
}
