.page-container {
  max-width: 1200px;
  min-height: 100vh;
  margin: auto;
  padding: 50px 0 0 0;
  position: relative;
  background: inherit;
  pointer-events: none;
  overflow-x: hidden;
}
.page-updating {
  height: 90vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: white;
}
.footer {
  width: fit-content;
  height: fit-content;
  padding: 5px 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font: italic 18px Lorea;
  letter-spacing: 2px;
  box-shadow: inset 0 4px 5px 2px rgb(0, 0, 0, 0.6);
}
.home-footer {
  margin: 0 auto;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 88;
  color: white;
}
.to-top-btn {
  width: 40px;
  height: 40px;
  position: fixed;
  left: 12px;
  bottom: -80px;
  z-index: 8888;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  box-shadow: -2px 2px 5px 2px rgb(0, 0, 0, 0.3);
  background: url(../icons/angle-up-solid-white.svg) center / 60% no-repeat, rgb(0, 0, 255, 0.5);
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
.to-top-btn.open {
  bottom: 12px;
}
