.page-container {
  max-width: 1200px;
  min-height: 100vh;
  margin: auto;
  padding: 50px 0 0 0;
  position: relative;
  background: inherit;
  pointer-events: none;
  overflow-x: hidden;
}
.page-updating {
  height: 90vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: white;
}
.home-footer {
  width: fit-content;
  height: fit-content;
  padding: 5px 12px;
  margin: 0 auto;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 88;
  color: white;
  font: clamp(0.8rem, 5vw, 1.2rem) Lorea;
}
.footer {
  width: 222px;
  height: 222px;
  margin: 50px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font: clamp(0.8rem, 5vw, 1.2rem) Lorea;
  border-radius: 50%;
  box-shadow: 0 12px 2px 5px rgb(0, 0, 0, 0.2), inset 0 -7px 22px 8px rgb(0, 0, 183);
  background: radial-gradient(circle at 60% 30%, rgb(255, 255, 255, 0.7) 5%, rgba(18, 74, 164, 0.9), rgba(31, 31, 255, 0.5), black 98%);
}
.to-top-btn {
  width: 40px;
  height: 40px;
  position: fixed;
  left: 12px;
  bottom: -80px;
  z-index: 8888;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  background: url(../icons/angle-up-solid-white.svg) center / 60% no-repeat, rgb(0, 180, 255);
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
.to-top-btn.open {
  bottom: 12px;
}
