.page-container {
  max-width: 1200px;
  min-height: 100vh;
  margin: auto;
  padding: 50px 0 0 0;
  position: relative;
  background: inherit;
  overflow-x: hidden;
}
.home-footer {
  width: fit-content;
  height: fit-content;
  padding: 5px 12px;
  margin: 0 auto;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 88;
  color: white;
  font: clamp(0.8rem, 5vw, 1.2rem) Lorea;
}
.footer {
  width: 222px;
  height: 222px;
  margin: 50px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font: clamp(0.8rem, 5vw, 1.2rem) Lorea;
  border-radius: 50%;
  box-shadow: 0 4px 4px 3px rgb(0, 0, 0, 0.2), inset 0 -7px 22px 8px rgb(0, 0, 183);
  background: radial-gradient(circle at 60% 30%, rgb(255, 255, 255, 0.7) 5%, rgba(18, 74, 164, 0.9), rgba(31, 31, 255, 0.5), black 98%);
}
.to-top-btn {
  width: 35px;
  height: 35px;
  position: fixed;
  left: 10px;
  bottom: 10px;
  z-index: 8888;
  display: none;
  align-items: center;
  justify-content: center;
  color: white;
  border: 1px solid black;
  border-radius: 50%;
  box-shadow: 1px 0 3px 2px rgb(0, 0, 0, 0.3);
  background: white;
  cursor: pointer;
}
.to-top-btn::before {
  content: "";
  width: 12px;
  height: 2px;
  position: absolute;
  top: 14px;
  left: 7px;
  background: black;
  transform: rotate(-45deg);
}
.to-top-btn::after {
  content: "";
  width: 12px;
  height: 2px;
  position: absolute;
  top: 14px;
  right: 7px;
  background: black;
  transform: rotate(45deg);
}
.to-top-btn.open {
  display: flex;
}
