.home-page {
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  pointer-events: none;
}
@media (min-width: 777px) {
  .home-page {
    padding-top: 100px;
  }
}
@media (max-height: 550px) {
  .home-page {
    height: fit-content;
    overflow-y: auto;
  }
}
.nav-btn-bars,
.nav-btn-bars::before,
.nav-btn-bars::after {
  background: white;
}
.search-btn {
  background: url(/src/icons/magnifying-glass-solid-white.svg) 50% 50% / 70% 70% no-repeat;
}
.text-box {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  color: white;
}
.text-box h1 {
  padding: 22px 0;
  font: 33px/33px Lorea;
  letter-spacing: 3px;
}
.text-box p {
  width: 222px;
  font: 20px/33px cormorant;
}
.tap-message {
  width: 20px;
  height: fit-content;
  padding: 11px 0;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  display: flex;
  align-items: center;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  writing-mode: vertical-lr;
  text-orientation: upright;
  color: white;
  font: 11px/33px sans-serif;
}
.tap-message-2 {
  left: calc(100vw - 20px);
}
.bottom-row {
  display: flex;
  flex-direction: column;
}
.text-box a p {
  width: fit-content;
  height: fit-content;
  margin: 20px auto;
  padding: 7px 33px;
  color: rgb(255, 255, 255);
  border-radius: 11px;
  box-shadow: 0 3px 5px 3px rgb(0, 0, 0, 0.3), inset 2px -3px 5px 2px rgba(255, 255, 255, 0.2);
  background: radial-gradient(ellipse at 50% 50%, rgb(255, 255, 255, 0.1), rgba(255, 255, 255, 0.2));
  transition: 1s ease;
}
.text-box a p:hover {
  box-shadow: 0 0 5px 5px rgb(0, 0, 0, 0.6) inset;
}
