.page-container {
  max-width: 1200px;
  min-height: 100vh;
  margin: auto;
  padding: 50px 0 0 0;
  position: relative;
  background: inherit;
  overflow-x: hidden;
}

.home-footer {
  width: fit-content;
  height: fit-content;
  padding: 5px 12px;
  margin: 0 auto;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 88;
  color: white;
  font: clamp(0.8rem, 5vw, 1.2rem) Lorea;
}

.heading {
  width: fit-content;
  height: 70px;
  margin-top: 50px;
  padding: 0 18px;
  display: flex;
  align-items: center;
  font: 600 clamp(1.3rem, 5vw, 1.7rem) sans-serif;
}

h1 {
  font: 100 clamp(1.1rem, 5vw, 1.3rem) sans-serif;
}

.sub-heading {
  font: clamp(0.8rem, 5vw, 1.2rem) sans-serif;
}

.credits-section {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
