.ball-scene-container {
  width: 100%;
  height: 555px;
  position: relative;
  /* background: radial-gradient(ellipse at 50% 55%, lightgray, rgb(65, 8, 65), black); */
  background: linear-gradient(0deg, cyan 10%, deepskyblue 13% 21%, cyan 24% 31%, deepskyblue 33% 39%, cyan 41% 46%, deepskyblue 48% 52%, cyan 54% 54%, white 55% 57%, transparent), radial-gradient(circle at 50% 20%, yellow 10%, pink 15% 30%, skyblue);
  animation: sunrise 4s infinite;
}
.ball-scene {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  perspective: 6em;
  perspective-origin: 50% calc(50% - 2.5em);
  transform-style: preserve-3d;
}
.ball {
  width: 1em;
  height: 2em;
  border-radius: 50%;
  position: relative;
  top: 5em;
  z-index: 8;
  background: radial-gradient(circle at 60% 10%, rgb(255, 255, 255) 20%, rgb(205, 205, 205) 80%, rgb(175, 175, 175));
  animation: ball-bounce 2.5s ease-out infinite;
}
@keyframes ball-bounce {
  0%,
  100% {
    top: 5.3em;
  }
  50% {
    top: -1em;
    animation-timing-function: ease-in;
  }
}
.cube {
  width: 1em;
  height: 2em;
  position: relative;
  top: 5.1em;
  z-index: 1111;
  perspective: 555em;
  perspective-origin: 50% calc(50% - 1em);
  transform-style: preserve-3d;
  transform: rotateX(11deg) rotateY(45deg);
  transition: 1s linear 2.5s;
  animation: cube-crush 2.5s ease-out infinite;
}
@keyframes cube-crush {
  10%,
  93% {
    top: 5.5em;
  }
  40% {
    top: 5.1em;
  }
  60% {
    top: 5.3em;
  }
  80% {
    top: 5.2em;
  }
}
.cube div {
  width: 100%;
  height: 100%;
  position: absolute;
}
.cube .front {
  transform: translateZ(0.5em);
  background: rgb(0, 100, 255);
}
.cube .left {
  transform: rotateY(270deg) translateZ(0.5em);
  background: rgb(0, 170, 255);
}
.cube .top {
  width: 1em;
  height: 1em;
  transform: translateY(-50%) rotateX(90deg);
  background: aqua;
}
.cube .ball-shadow {
  background: radial-gradient(rgb(0, 0, 0, 0.4), rgba(0, 0, 0, 0) 50%);
  top: -0.44em;
  transform: rotateX(90deg);
  box-shadow: none;
  animation: ball-shadow-scale 2s ease-in infinite;
}
@media (max-width: 700px) {
  .cube .ball-shadow {
    display: none;
  }
}
@keyframes ball-shadow-scale {
  0%,
  100% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
}
.floor {
  width: 200%;
  height: 22em;
  position: relative;
  top: 0.3em;
  transform: rotateX(89deg);
  background: rgb(0, 0, 255, 0.2);
  animation: water-sparkle 200ms infinite;
}
