.scene-container {
    width: 90%;
    height: 555px;
    position: relative;
    top: 20px;
    border-radius: 50%;
    background: radial-gradient(ellipse at 50% 55%, lightgray, rgb(65, 8, 65, 0.8), black);
    border: 1px solid alicewhite;
    transition: 1s ease-in;
  }
  .scene {
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    perspective: 6em;
    perspective-origin: 50% calc(50% - 2.5em);
    transform-style: preserve-3d;
  }
  .ball {
    width: 1em;
    height: 2em;
    border-bottom: 1px solid cyan;
    border-radius: 50%;
    position: relative;
    top: 5em;
    z-index: 8;
    background: radial-gradient(circle at 60% 10%, rgb(255, 255, 255) 20%, rgba(67, 67, 67, 0.5) 80%, black);
    transition: 1s linear 3s;
    animation: ball-bounce 2s ease-out infinite;
  }
  @keyframes ball-bounce {
    0%,
    100% {
      top: 5.3em;
    }
    50% {
      top: -1em;
      animation-timing-function: ease-in;
    }
  }
  .cube {
    width: 1em;
    height: 2em;
    position: relative;
    top: 5em;
    z-index: 1111;
    perspective: 555em;
    perspective-origin: 50% calc(50% - 1em);
    transform-style: preserve-3d;
    transform: rotateX(11deg) rotateY(45deg);
    transition: 1s linear 2s;
    animation: cube-crush 2s ease-out infinite;
  }
  @keyframes cube-crush {
    10%,
    93% {
      height: 1.5em;
      top: 5.5em;
    }
    50% {
      height: 2em;
      top: 5em;
    }
  }
  .cube div {
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(3, 118, 163, 0.5);
    box-shadow: 0 0 0.5em rgb(255, 255, 255) inset;
  }
  .cube .front {
    transform: translateZ(0.5em);
  }
  .cube .right {
    transform: rotateY(90deg) translateZ(0.5em);
  }
  .cube .back {
    transform: rotateY(180deg) translateZ(0.5em);
  }
  .cube .left {
    transform: rotateY(270deg) translateZ(0.5em);
  }
  .cube .top {
    width: 1em;
    height: 1em;
    transform: translateY(-50%) rotateX(90deg);
    background: radial-gradient(white, lightgray, aqua);
  }
  .cube .bottom {
    transform: translateY(50%) rotateX(90deg);
  }
  .cube .ball-shadow {
    position: relative;
    background: radial-gradient(rgb(0, 0, 0, 0.6), rgba(0, 0, 0, 0) 50%);
    height: 1em;
    width: 1em;
    top: -0.505em;
    transform: rotateX(90deg);
    box-shadow: none;
    animation: ball-shadow-scale 2s infinite;
  }
  @keyframes ball-shadow-scale {
    50% {
      opacity: 0.1;
      transform: rotateX(90deg) scale(1.5);
      animation-timing-function: ease-in;
    }
  }
  .floor {
    width: 100%;
    height: 22em;
    position: relative;
    top: 0.5em;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    transform: rotateX(105deg);
    transition: 2s ease-in-out 1s;
    background: radial-gradient(transparent 20%, rgb(0, 0, 0, 0.5) 50%, rgb(0, 0, 0, 0.9) 60%), repeating-conic-gradient(from 45deg, rgb(70, 0, 128, 0.5) 0deg 90deg, rgb(255, 255, 255) 90deg 180deg);
    background-size: 100%, 1em 1em;
  }