.main-logo {
  background: url(/src/assets/logos/jsive-logo-at-100.png) 50% / 77% 77% no-repeat;
}

.site-title {
  background-clip: text;
}

.button-nav-menu {
  width: 50px;
  height: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.open-close-bars,
.open-close-bars::before,
.open-close-bars::after {
  width: 29px;
  height: 2px;
  transition: all 300ms ease-in-out;
}

.open-close-bars::before,
.open-close-bars::after {
  content: "";
  position: absolute;
  background: white;
}

.open-close-bars::before {
  transform: translateY(-4px);
}

.open-close-bars::after {
  transform: translateY(4px);
}

/* OPEN BUTTON ANIMATION  */
.button-nav-menu.open .open-close-bars {
  transform: rotate(180deg);
  transition: all 500ms ease-in-out;
}

.button-nav-menu.open .open-close-bars::before {
  transform: rotate(45deg);
  background: magenta;
}

.button-nav-menu.open .open-close-bars::after {
  transform: rotate(135deg);
  background: magenta;
}

/* // MAIN NAV BOX ///////////////////////// */
.nav-menu {
  width: fit-content;
  height: calc(100vh - 50px);
  padding: 50px 12px;
  position: fixed;
  top: 50px;
  right: 0;
  z-index: 888;
  display: flex;
  flex-direction: column;
  transition: 0.3s ease-in-out;
  box-shadow: -1px 0 3px 1px rgb(0, 0, 0, 0.3);
  background: linear-gradient(45deg, rgb(107, 107, 107, 0.9), blue);
  overflow: auto;
  transform: translateX(100%);
}

.nav-menu.open {
  transform: none;
}

.close-nav-overlay {
  width: 100%;
  height: calc(100% - 50px);
  position: fixed;
  top: 50px;
  left: 0;
  display: none;
  background: rgb(0, 0, 0, 0.3);
}

.close-nav-overlay.open {
  display: block;
}

.link {
  width: fit-content;
  min-width: 150px;
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px auto;
  font: 20px sans-serif;
  color: white;
  border-radius: 15px;
  box-shadow: 0 3px 7px 0.1px rgb(255, 165, 0, 0.4);
  filter: drop-shadow(-1px 1px 1px black);
}

li.active .link,
.link:hover {
  box-shadow: inset -3px 3px 7px 0.1px rgb(255, 165, 0, 0.4);
}

@media (min-width: 777px) {
  .close-nav-overlay {
    display: none;
  }

  .nav-menu {
    height: fit-content;
    position: relative;
    top: 0;
    padding: 0;
    align-items: center;
    background: none;
    box-shadow: none;
    transform: none;
  }

  .nav-menu ul {
    height: 50px;
    display: flex;
    align-items: center;
  }

  .nav-menu li {
    margin: 0 7px;
  }

  .link {
    margin: 0;
    font-size: 17px;
  }

  .button-nav-menu {
    display: none;
  }
}
