.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 88888;
  transition: top 0.3s ease-in-out;
}
@media (max-width: 600px), (max-height: 400px) {
  .header.hide {
    top: -50px;
  }
}
.top-header {
  max-width: 1200px;
  height: fit-content;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  box-shadow: 0 4px 3px 1px rgb(0, 0, 0, 0.2);
  background: linear-gradient(blue, rgb(255, 255, 255, 0.3));
}
.left-side-header,
.right-side-header {
  --size: 33px;
  display: flex;
  align-items: center;
}
.main-logo {
  width: 50px;
  height: 50px;
  margin: 0 7px;
  border-radius: 50%;
  background: url(/src/logos/jsive-logo-at-100.png) 50% / 77% 77% no-repeat;
}
.site-title {
  padding-right: 4px;
  background-image: linear-gradient(to right, magenta, pink, magenta);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font: 400 clamp(1.65rem, 5vw, 2rem) Lorea;
}
.nav-btn {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.nav-btn-bars,
.nav-btn-bars::before,
.nav-btn-bars::after {
  width: 29px;
  height: 2px;
  border-radius: 2px;
  background: white;
  transition: all 500ms ease-in-out;
}
.nav-btn-bars::before,
.nav-btn-bars::after {
  content: "";
  position: absolute;
}
.nav-btn-bars::before {
  transform: translateY(-7px);
}
.nav-btn-bars::after {
  transform: translateY(7px);
}
/* OPEN BUTTON ANIMATION  */
.nav-btn.open .nav-btn-bars {
  transform: rotate(360deg);
  background: transparent;
  box-shadow: none;
  transition: all 1s ease-in-out;
}
.nav-btn.open .nav-btn-bars::before {
  transform: rotate(45deg);
}
.nav-btn.open .nav-btn-bars::after {
  transform: rotate(135deg);
}
/* // MAIN NAV BOX ///////////////////////// */
.main-nav {
  width: fit-content;
  height: calc(100vh - 50px);
  position: fixed;
  top: 50px;
  right: -100%;
  padding: 50px 11px;
  display: flex;
  flex-direction: column;
  transition: 0.3s ease-in-out;
  box-shadow: -2px 2px 2px 1px rgb(0, 0, 0, 0.3);
  background: white;
  overflow: auto;
}
.main-nav.open {
  right: 0;
}
.link {
  width: 100%;
  display: flex;
  justify-content: left;
  margin: 11px 0;
  padding: 7px;
  font: 20px sans-serif;
  color: black;
  box-shadow: 1px 2px 2px 2px rgb(0, 0, 0, 0.2);
  background: rgb(6, 133, 251);
}
li.active .link,
.link:hover {
  transform: scale(1.1);
  border-top: 1px solid magenta;
  border-left: 1px solid magenta;
  box-shadow: 1px 4px 2px 3px rgb(0, 0, 0, 0.2);
  background: white;
  color: black;
}
@media (min-width: 777px) {
  .main-nav {
    height: fit-content;
    position: static;
    padding: 0;
    align-items: center;
    background: none;
    box-shadow: none;
  }
  .main-nav ul {
    height: 50px;
    display: flex;
    align-items: center;
  }
  .main-nav li {
    margin: 0 7px;
  }
  .link {
    margin: 0;
    font-size: 17px;
  }
  .nav-btn {
    display: none;
  }
}
