.main-logo {
  background: url(/src/assets/logos/jsive-logo-at-100.png) 50% / 77% 77% no-repeat;
}

.site-title {
  background-clip: text;
}

.nav-menu-btn {
  width: 50px;
  height: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-menu-btn-bars,
.nav-menu-btn-bars::before,
.nav-menu-btn-bars::after {
  width: 29px;
  height: 2px;
  transition: all 500ms ease-in-out;
}

.nav-menu-btn-bars::before,
.nav-menu-btn-bars::after {
  content: "";
  position: absolute;
  background: white;
}

.nav-menu-btn-bars::before {
  transform: translateY(-4px);
}

.nav-menu-btn-bars::after {
  transform: translateY(4px);
}

/* OPEN BUTTON ANIMATION  */
.nav-menu-btn.open .nav-menu-btn-bars {
  transform: rotate(360deg);
  transition: all 1s ease-in-out;
}

.nav-menu-btn.open .nav-menu-btn-bars::before {
  transform: rotate(45deg);
  background: magenta;
}

.nav-menu-btn.open .nav-menu-btn-bars::after {
  transform: rotate(135deg);
  background: magenta;
}

/* // MAIN NAV BOX ///////////////////////// */
.nav-menu {
  width: fit-content;
  height: calc(100vh - 50px);
  padding: 50px 12px;
  position: fixed;
  top: 50px;
  right: -100%;
  z-index: 888;
  display: flex;
  flex-direction: column;
  transition: 0.3s ease-in-out;
  box-shadow: -1px 0 3px 1px rgb(0, 0, 0, 0.3);
  background: white;
  overflow: auto;
}

.nav-menu.open {
  right: 0;
}

.close-nav-box {
  width: 100vw;
  height: calc(100vh - 50px);
  position: fixed;
  top: 50px;
  right: 0;
  display: none;
  background: rgb(0, 0, 0, 0.3);
}

.close-nav-box.open {
  display: block;
}

.link {
  color: white;
  background: rgb(6, 133, 251);
  box-shadow: 0 2px 5px 2px rgb(0, 0, 0, 0.3);
  width: 100%;
  display: flex;
  justify-content: left;
  margin: 15px 0;
  padding: 7px;
  font: 20px sans-serif;
}

li.active .link,
.link:hover {
  color: black;
  background: white;
  transform: scale(1.1);
}

@media (min-width: 777px) {
  .close-nav-box {
    display: none;
  }

  .nav-menu {
    height: fit-content;
    position: static;
    padding: 0;
    align-items: center;
    background: none;
    box-shadow: none;
  }

  .nav-menu ul {
    height: 50px;
    display: flex;
    align-items: center;
  }

  .nav-menu li {
    margin: 0 7px;
  }

  .link {
    margin: 0;
    font-size: 17px;
  }

  .nav-menu-btn {
    display: none;
  }
}
