#rain-canvas-dark,
#rain-canvas-light {
  width: 100%;
  height: 100%;
}

.kaleidoscope-container {
  width: 100%;
  aspect-ratio: 1/1;
  display: flex;
  perspective: 200px;
  perspective-origin: 50%;
  overflow: hidden;
}
.kaleidoscope-container-bg {
  width: 200%;
  height: 200%;
  position: absolute;
  top: -50%;
  left: -50%;
  z-index: 3;
  animation: kaleidoscope-bg-rotate 10s infinite linear;
  /* background: linear-gradient(-45deg,magenta 30%, blue, rgb(255,255,255,.2), blue, rgb(255, 255, 255, 0.2) 70%); */
}
.kaleidoscope-box {
  width: 50%;
  aspect-ratio: 1/1;
  margin: 25%;
  position: absolute;
  z-index: 88;
  transform-style: preserve-3d;
  animation: kaleidoscope-anim 11s infinite linear;
}
@keyframes kaleidoscope-anim {
  to {
    transform: rotateY(360deg) rotateX(360deg) rotateZ(360deg);
  }
}
.kaleidoscope {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 88;
  background: rgb(0, 0, 255, 0.2);
  clip-path: polygon(15% 15%, 40% 20%, 50% 0%, 60% 20%, 85% 15%, 80% 40%, 100% 50%, 80% 60%, 85% 85%, 60% 80%, 50% 100%, 40% 80%, 15% 85%, 20% 60%, 0% 50%, 20% 40%);
}
.kaleidoscope-child {
  width: 100%;
  height: 100%;
  background: conic-gradient(transparent, rgb(255, 0, 255, 0.7) 5%, transparent 10%, rgb(255, 0, 255, 0.7) 15%, transparent 20%, rgb(255, 0, 255, 0.7) 25%, transparent 30%, rgb(255, 0, 255, 0.7) 35%, transparent 40%, rgb(255, 0, 255, 0.7) 45%, transparent 50%, rgb(255, 0, 255, 0.7) 55%, transparent 60%, rgb(255, 0, 255, 0.7) 65%, transparent 70%, rgb(255, 0, 255, 0.7) 75%, transparent 80%, rgb(255, 0, 255, 0.7) 85%, transparent 90%, rgb(255, 0, 255, 0.7) 95%, transparent 100%);
  animation: conic-rotate 2s linear infinite;
}
@keyframes conic-rotate {
  to {
    transform: rotate(360deg);
  }
}
.kaleidoscope-bubble {
  width: 100%;
  height: 100%;
  position: absolute;
  border: 1px solid rgb(0, 0, 255);
  background: rgb(0, 255, 255, 0.5);
  border-radius: 50%;
}
.kaleidoscope.duplicate {
  transform: rotateY(90deg);
  background: rgb(255, 0, 255, 0.2);
}
.kaleidoscope-bubble.duplicate {
  transform: rotateY(90deg);
}
.kaleidoscope.duplicate-2 {
  transform: rotateX(90deg);
  background: rgb(0, 255, 255, 0.2);
}
.kaleidoscope-bubble.duplicate-2 {
  transform: rotateX(90deg);
}
