.canvas-page {
  min-height: calc(100vh - 50px);
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: white;
  pointer-events: all;
}
.canvas-page p,
.canvas-page h1,
.canvas-game-link {
  max-width: 500px;
  padding: 10px 0;
  font: 600 clamp(1.3rem, 5vw, 1.7rem) Blackpast;
}
.canvas-page p {
  font: 18px sans-serif;
}
.franks-link {
  display: flex;
  align-items: center;
  margin: 30px 0;
  padding: 0 10px 0 0;
  font: 600 20px sans-serif;
  border: 1px solid red;
  border-radius: 10px;
}
.franks-link i {
  width: 50px;
  height: 40px;
  background: url(../../icons/youtube-brands.svg) 50% / 70% no-repeat;
}
.canvas-page .bold-text {
  font: 500 20px/20px sans-serif;
}
.canvas-page .mobile-landscape-alert {
  padding: 50px 0;
  color: red;
  font: 600 20px sans-serif;
  text-transform: uppercase;
}
.canvas-game-link {
  width: fit-content;
  height: fit-content;
  padding: 10px 20px;
  margin: 30px auto 100px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border: 10px solid rgb(255, 0, 255, 0.5);
  border-radius: 8px;
  box-shadow: 1px 2px 4px 2px rgb(0, 0, 0, 0.2);
  background: linear-gradient(30deg, blue, purple);
}
.canvas-game-container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 88888;
  background: black;
  pointer-events: all;
}
.canvas-game-back-btn {
  width: fit-content;
  height: 25px;
  padding: 0 5px;
  position: fixed;
  top: 0;
  right: 0;
  border-left: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  color: rgb(255, 255, 255, 0.5);
  background: transparent;
}
#canvas-game {
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  /* font-family: Sega; */
}
#layer1,
#layer2,
#layer3,
#layer4,
#player,
#angler1,
#angler2,
#lucky,
#projectile,
#gears,
#hivewhale,
#drone,
#smokeExplosion,
#fireExplosion {
  display: none;
}
#x-pad {
  width: 120px;
  height: 120px;
  position: fixed;
  left: 10px;
  bottom: 10px;
  border: 1px solid lightgray;
  border-radius: 50%;
  cursor: pointer;
  overflow: hidden;
}
#x-pad div {
  width: 120px;
  height: 60px;
  position: absolute;
  clip-path: polygon(50% 0, 100% 100%, 0 100%);
}
#x-pad-up {
  transform: rotate(180deg);
}
#x-pad-down {
  top: 50%;
}
#x-pad-left {
  top: 25%;
  left: -25%;
  transform: rotate(90deg);
}
#x-pad-right {
  top: 25%;
  left: 25%;
  transform: rotate(270deg);
}
#x-pad-up.pressing,
#x-pad-down.pressing,
#x-pad-left.pressing,
#x-pad-right.pressing {
  background: rgb(255, 0, 255, 0.3);
}
#fire-btn {
  width: 80px;
  height: 80px;
  position: fixed;
  right: 10px;
  bottom: 10px;
  border: 1px solid lightgray;
  border-radius: 50%;
}
#fire-btn.pressing {
  background: rgb(255, 0, 255, 0.3);
}
#start-btn {
  width: 50px;
  height: 20px;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 10px;
  margin: 0 auto;
  border: 1px solid lightgray;
  border-radius: 20px;
  color: rgb(255, 255, 255, 0.5);
  font: 600 10px sans-serif;
  background: transparent;
}
