  .picture-flip-section {
    width: 100%;
    height: fit-content;
    padding: 50px 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;
    border: 10px solid blue;
  }
  
  .picture-flip-container {
    background: linear-gradient(white, skyblue 30% 50%, blue 52%, turquoise, white);
    border-left: 1px solid rgb(255, 0, 255, 0.4);
    border-right: 1px solid rgb(255, 0, 255, 0.4);
    width: 100%;
    max-width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    perspective: 600px;
    perspective-origin: 50%;
  }
  
  .picture-flip-pos-z-container {
    perspective: 600px;
    perspective-origin: 50%;
    /* animation: picture-flip-pos-z-container 2s ease-in-out infinite 1s; */
  }
  @keyframes picture-flip-pos-z-container {
    50% {
      transform: translateZ(-1000px);
      perspective: 2400px;
    }
    100% {
      transform: translateZ(0);
    }
  }
  
  .picture-flip {
    height: 300px;
    width: 300px;
    position: relative;
    transform-style: preserve-3d;
    cursor: pointer;
    animation: picture-flip 5s ease-in-out infinite;
  }
  @keyframes picture-flip {
    20% {
      transform: rotateX(0deg);
    }
    60% {
      transform: rotateX(720deg);
    }
    100% {
      transform: rotateX(720deg);
    }
  
  }
  
  .picture-flip .side {
    background: aqua;
    width: 100%;
    height: 100%;
    position: absolute;
    font: 300 40px sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .picture-flip .front {
    transform: translateZ(5px);
    opacity: 0.8;
  }
  
  .picture-flip .back {
    transform: translateZ(-5px) rotateX(180deg);
    opacity: 0.8;
   
  }
  
  .picture-flip .left,
  .picture-flip .right {
    width: 10px;
    left: -10px;
    transform: rotateY(90deg);
  }
  
  .picture-flip .right {
    left: 300px;
  }
  
  .picture-flip-container:nth-child(1) .front {
    background: url(./assets/vrheadset.jpg) 50% / 100%;
  }
  .picture-flip-container:nth-child(1) .back {
    background: url(./assets/vrheadset.jpg) 50% / 100%;
  }
  
  .picture-flip .top,
  .picture-flip .bottom {
    width: 100%;
    height: 10px;
    top: -10px;
    transform: rotateX(90deg);
  }
  
  .picture-flip .bottom {
    top: 300px;
  }
  