.css-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.heading.css-heading {
  margin-top: 0px;
  position: absolute;
  top: 100px;
  z-index: 88;
  color: white;
  filter: drop-shadow(0 0 5px aqua);
}
.css-heading-testing {
  width: 100%;
  height: 200px;
  /* background: radial-gradient(circle at 50% 10%, yellow, white, skyblue 30%, transparent); */
}
.css-heading-testing-bg {
  width: 50%;
  aspect-ratio: 2/1;
  position: absolute;
  left: 120%;
  top: 20%;
  opacity: 0.4;
  animation: background-move linear infinite;
}
.bg-1 {
  background: url(/src/assets/images/cloud1.png) 100%/100% 100%;
  animation-duration: 100s;
}
.bg-1.edit {
  transform: translateZ(180deg);
  animation-delay: -5s;
  animation-duration: 200s;
  top: 0;
}
.bg-2 {
  width: 30%;
  background: url(/src/assets/images/cloud2.png) 100%/100% 100%;
  animation-duration: 50s;
}
.bg-2.edit {
  transform: rotate(180deg);
  animation-delay: -5s;
  animation-duration: 150s;
  top: -10%;
}
@keyframes background-move {
  to {
    left: -100%;
  }
}
.css-bird-container {
  width: 70%;
  aspect-ratio: 1/1;
  margin: auto;
  position: relative;
  display: flex;
}
.css-bird {
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/174479/bird-cells-new.svg);
  background-size: auto 100%;
  /* width: 88px;
  height: 125px; ==THESE ARE THE ORIGINAL SIZES */
  width: 50%;
  aspect-ratio: 8/12;
  margin: auto;
  will-change: background-position;
  animation: fly-cycle 2s steps(10) infinite;
}
@keyframes fly-cycle {
  100% {
    /* background-position: -900px 0; ==THIS IS THE ORIGINAL SIZING */
    background-position: -110% 0;
  }
}
.css-page p {
  padding: 20px 0;
  font: clamp(0.7rem, 5vw, 1rem) sans-serif;
}
.main-content {
  width: 100%;
  padding: 10px;
  position: relative;
  background: white;
}

/* transform-style: preserve-3d; !!!!!!!THIS STYLING WAS ACTUALLY ABLE TO ACT LIKE A Z-INDEX WHEN THE ELEMENT'S POSITION (IN THIS CASE RELATIVE) WAS NOT DECLARED!!!VERY INTERESTING*/

.effects-section {
  width: 100%;
  margin-top: 88px;
  font: 25px sans-serif;
}
.effects-container {
  padding: 23px 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

/* ///////// */
.or-text-box {
  padding: 12px 6px;
  margin: 0 8px;
  font: 22px sans-serif;
}
/* WAVE TEXT /////////////////////////////// */
.text-wave-effect-container {
  width: fit-content;
  height: fit-content;
  margin: 12px 4px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 4px solid rgb(0, 0, 255, 0.3);
  border-radius: 8px;
  box-shadow: 1px 2px 4px 1px rgba(0, 0, 0, 0.5);
  background: linear-gradient(45deg, purple, magenta);
}
.text-wave-effect-container h2 {
  position: relative;
  font: 3rem Poppins, sans-serif;
  color: blue;
  /* -webkit-text-stroke: 1px gray; */
}
.text-wave-effect-container h2::after {
  content: "text effects";
  position: absolute;
  left: 0;
  color: aqua;
  animation: wave-text-anim 3s ease-in-out infinite;
}
@keyframes wave-text-anim {
  0%,
  100% {
    clip-path: polygon(0% 45%, 16% 44%, 33% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
  }

  50% {
    clip-path: polygon(0% 60%, 15% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
  }
}

.cube-effects-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}

.column {
  width: fit-content;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.3);
}

.column h1 {
  width: 100%;
  max-width: 300px;
  padding: 5px;
  color: black;
  border-top: 1px solid gray;
}

.column h1:hover {
  text-decoration: underline;
}
