.pyramid-container {
  /* width: calc(100% - 20px); do this if you want 10px margins*/
  width: 100%;
  aspect-ratio: 16/9;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  perspective: 1300px;
  perspective-origin: 50% -10%;
  /* background: linear-gradient(0deg, rgb(255, 255, 176) 0 47%, transparent 50%), radial-gradient(circle at 50% 15%, yellow 9%, gold 16%, pink 20% 22%, skyblue 40%); */
  background: url(/src/images/moon-balloon-edit.jpg) 50%/100% 100%;
  overflow: hidden;
}
.pyramid {
  width: 40%;
  aspect-ratio: 4/3;
  position: absolute;
  bottom: 15%;
  z-index: 7;
  transform-style: preserve-3d;
  /* transform: rotateY(30deg); */
  animation: pyramid-rotateY 40s linear infinite;
}
@keyframes pyramid-rotateY {
  10% {
    transform: rotateY(36deg) rotateX(2deg);
  }
  20% {
    transform: rotateY(72deg) rotateX(-2deg);
  }
  30% {
    transform: rotateY(108deg) rotateX(2deg);
  }
  40% {
    transform: rotateY(144deg) rotateX(-2deg);
  }
  50% {
    transform: rotateY(180deg) rotateX(2deg);
  }
  60% {
    transform: rotateY(216deg) rotateX(-2deg);
  }
  70% {
    transform: rotateY(252deg) rotateX(2deg);
  }
  80% {
    transform: rotateY(288deg) rotateX(-2deg);
  }
  90% {
    transform: rotateY(324deg) rotateX(2deg);
  }
  100% {
    transform: rotateY(360deg) rotateX(0);
  }
}
.pyramid div {
  width: 100%;
  aspect-ratio: 4/3;
  position: absolute;
  backface-visibility: visible;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  transform-origin: 50% 0;
  /* background: linear-gradient(turquoise 20%, rgb(0, 0, 0, 0) 20%, rgb(0, 0, 0, 0) 40%, turquoise 40%, turquoise 60%, rgb(0, 0, 0, 0) 60%, rgb(0, 0, 0, 0) 80%, turquoise 80%); */
  background-size: 100% 100%;
  background-image: url(/src/images/crystal-320.jpg);
  opacity: 0.2;
}
.pyramid .small {
  width: 50%;
  height: 50%;
  top: 75%;
  transform: none;
  opacity: 0.4;
  background-image: url(/src/images/crystal-80.jpg);
}
@media (max-width: 700px) {
  .pyramid-container {
    background: url(/src/images/sunset-water4-3w300.jpg) 50% / 100% 100%;
  }
  .pyramid {
    bottom: 7%;
  }
  .pyramid div {
    background-image: url(/src/images/crystal-160.jpg);
  }
}
.pyramid .front {
  transform: rotateX(41.7deg);
}
.pyramid .logo {
  width: 100%;
  height: 100%;
  opacity: 1;
  background: url(/src/logos/jsive-logo-at-100.png) 50% 70%/30% no-repeat;
}
@media (max-width: 700px) {
  .pyramid .logo {
    background: url(/src/logos/jsive-logo-at-75.png) 50% 70%/30% no-repeat;
  }
}
.pyramid .front.small {
  transform: rotateX(138deg) translateX(50%);
}
.pyramid .back {
  transform: rotateY(180deg) rotateX(41.7deg);
}
.pyramid .back.small {
  transform: rotateY(180deg) rotateX(138deg) translateX(-50%);
}
.pyramid .left {
  transform: rotateY(-90deg) rotateX(41.7deg);
}
.pyramid .left.small {
  transform: translateX(50%) rotateY(-90deg) rotateX(138deg);
}
.pyramid .right {
  transform: rotateY(90deg) rotateX(41.7deg);
}
.pyramid .right.small {
  transform: translateX(50%) rotateY(90deg) rotateX(138deg);
}
.pyramid .bottom {
  width: 100%;
  height: 132%;
  clip-path: none;
  transform-origin: initial;
  transform: rotateX(90deg);
  position: absolute;
  top: 9%;
  background-image: url(/src/images/crystal-160.jpg);
}
.pyramid .bottom.shadow {
  transform: rotateX(90deg);
  border-radius: 2%;
  top: 13%;
  background: radial-gradient(rgb(0, 0, 0, 0.5), rgb(0, 0, 0, 0.3), rgb(0, 0, 0, 0.2));
}
/* .pyramid-container .floor {
  width: 2000px;
  height: 900px;
  clip-path: none;
  position: absolute;
  top: -40px;
  background: linear-gradient(transparent, rgb(255, 0, 0, 0.5), black);
  transform: rotateX(90deg);
} */
