.bird {
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/174479/bird-cells-new.svg);
  background-size: auto 100%;
  /* width: 88px;
  height: 125px; ==THESE ARE THE ORIGINAL SIZES */
  width: 100%;
  aspect-ratio: 8/12;
  will-change: background-position;
  animation-name: fly-cycle;
  animation-timing-function: steps(10);
  animation-iteration-count: infinite;
}
/* .bird.comic {
  width: 185px;
  background-image: url(/src/images/FlyingGameCharacter51.png);
  animation-name: fly-cycle-comic;
  animation-timing-function: steps(4);
} */
/* @media (max-width: 700px) {
  .bird {
    transform: scale(0.5);
  }
} */
.bird.one {
  animation-duration: 1s;
  animation-delay: -0.5s;
}
.bird.two {
  animation-duration: 0.9s;
  animation-delay: -0.75s;
}
.bird.three {
  animation-duration: 1.25s;
  animation-delay: -0.25s;
}
.bird.four {
  animation-duration: 1.1s;
  animation-delay: -0.5s;
}
/* .bird.comic {
  animation-duration: 0.5s;
  animation-delay: -0.5s;
} */
.bird-container {
  width: 5%;
  aspect-ratio: 8/12;
  position: absolute;
  top: 30%;
  left: -10%;
  z-index: 8;
  transform: scale(0) translateX(-10vw);
  will-change: transform;
  animation-name: fly-right-one;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
/* .bird-container.comic {
  animation-name: fly-right-two;
  animation-duration: 30s;
  animation-delay: 0s;
  top: 70%;
  z-index: 8;
} */
.bird-container.one {
  animation-duration: 15s;
  animation-delay: 0;
}
.bird-container.two {
  animation-duration: 16s;
  animation-delay: 1s;
  z-index: 6;
  animation-name: fly-right-two;
}
.bird-container.three {
  animation-duration: 14.6s;
  animation-delay: 9.5s;
}
.bird-container.four {
  animation-duration: 16s;
  animation-delay: 10.25s;
  z-index: 6;
  animation-name: fly-right-two;
}
/* @media (max-width: 700px) {
  .bird-container.four {
    display: none;
  }
} */
@keyframes fly-cycle {
  100% {
    /* background-position: -900px 0; ==THIS IS THE ORIGINAL SIZING */
    background-position: -110% 0;
  }
}
/* @keyframes fly-cycle-comic {
  100% {
    background-position: -736px 0;
  }
} */
@keyframes fly-right-one {
  0% {
    transform: scale(0.3) translateX(-10vw);
  }
  10% {
    transform: translateY(2vh) translateX(10vw) scale(0.4);
  }
  20% {
    transform: translateY(0vh) translateX(30vw) scale(0.5);
  }
  30% {
    transform: translateY(4vh) translateX(50vw) scale(0.6);
  }
  40% {
    transform: translateY(2vh) translateX(70vw) scale(0.6);
  }
  50% {
    transform: translateY(0vh) translateX(90vw) scale(0.6);
  }
  60% {
    transform: translateY(0vh) translateX(110vw) scale(0.6);
  }
  100% {
    transform: translateY(0vh) translateX(110vw) scale(0.6);
  }
}
@keyframes fly-right-two {
  0% {
    transform: translateY(-2vh) translateX(-10vw) scale(0.5);
  }
  10% {
    transform: translateY(0vh) translateX(10vw) scale(0.4);
  }
  20% {
    transform: translateY(-4vh) translateX(30vw) scale(0.6);
  }
  30% {
    transform: translateY(3vh) translateX(50vw) scale(0.45);
  }
  40% {
    transform: translateY(2.5vh) translateX(70vw) scale(0.5);
  }
  45% {
    transform: translateY(0vh) translateX(80vw) scale(0.45);
  }
  46% {
    transform: translateY(0vh) translateX(110vw) scale(0.45);
  }
  100% {
    transform: translateY(0vh) translateX(110vw) scale(0.45);
  }
}
