.javascript-page {
  min-height: calc(100vh - 50px);
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: black;
}
.javascript-page .heading {
  z-index: 2;
  color: white;
  border-radius: 50%;
  background: radial-gradient(ellipse at 50%, rgba(0, 0, 0, 0.5) 50%, transparent);
  transform: scale(0);
}
.javascript-page .heading.load {
  transition: 1.5s ease-in;
  transform: scale(1);
}
.javascript-page h2 {
  max-width: 500px;
  height: 150px;
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
}
.javascript-page .action-btn-container {
  margin-top: 50px;
  position: relative;
  z-index: 10;
  transform: scale(0);
}
.javascript-page .action-btn {
  width: 200px;
  height: 40px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  border: 2px solid rgb(0, 0, 0, 0.3);
  border-radius: 40px;
  background: linear-gradient(45deg, white, gray, rgb(190, 190, 190), gray, white);
  box-shadow: inset 3px -3px 4px 1px rgb(0, 0, 0, 0.5);
  animation: js-pulse 4s ease-in-out infinite 2s;
  cursor: pointer;
  display: none;
}
@keyframes js-pulse {
  50% {
    transform: scale(1.03);
  }
}
.javascript-page .action-btn-container.load {
  transition: 1s ease-in 1s;
  transform: scale(1);
}
.action-btn-container.load .action-btn-1 {
  display: flex;
}
.javascript-page.display-card-1-initial .action-btn-container {
  position: fixed;
  bottom: 20px;
  transition: all 2s ease-in-out;
}
.rain-canvas-container-dark,
.rain-canvas-container-light {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 1;
  transition: 0.5s ease-in-out 0.2s;
}
.rain-canvas-container-light {
  display: none;
}
.rain-canvas-container-dark.load,
.rain-canvas-container-light.load {
  height: calc(100vh - 50px);
  transition: 2s ease-in-out 0.5s;
  transform: scale(20);
  overflow: hidden;
}
.javascript-page .sub-heading-1,
.javascript-page .sub-heading-2 {
  padding: 0 10px;
  transition: 0.5s ease-in-out 0.3s;
  transform: translateX(0);
  opacity: 1;
  border-radius: 50%;
  background: radial-gradient(ellipse at 50%, rgba(0, 0, 0, 0.5) 50%, transparent);
}
.javascript-page.sub-heading-part .sub-heading-1 {
  transition: 0.8s ease-in-out;
  transform: translateX(-100vw);
  opacity: 0;
}
.javascript-page.sub-heading-part .sub-heading-2 {
  transition: 0.8s ease-in-out;
  transform: translateX(100vw);
  opacity: 0;
}
.javascript-page .javascript-card-1,
.javascript-page .javascript-card-2,
.javascript-page .javascript-card-3 {
  width: calc(100% - 20px);
  max-width: 1000px;
  height: calc(100% - 70px);
  padding: 100px 0;
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  z-index: 5;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  transition: all 0.5s ease-in-out;
  background: black;
  box-shadow: -1px 2px 5px 1px rgb(255, 255, 255, 0.7);
  border-radius: 20px;
  color: white;
  transform: scale(0);
  overflow-y: auto;
}
.javascript-page .javascript-card-1 p,
.javascript-page .javascript-card-2 p,
.javascript-page .javascript-card-3 p {
  width: 80%;
  max-width: 700px;
  font: clamp(0.8rem, 5vw, 1.2rem) sans-serif;
  margin-bottom: 30px;
}
.card1p4{
  margin: 30px auto;
  opacity: 0;
  transition: 1s ease-in 2s;
}
/* JS TUT START */
.javascript-page.display-card-1-initial .javascript-card-1 {
  transition: all 0.8s ease-in-out 1.5s;
  transform: scale(1);
}
.javascript-page.display-card-1-initial .action-btn-1,
.javascript-page.display-card-1-initial .action-btn-3,
.javascript-page.display-card-1-initial .action-btn-4 {
  display: none;
}
.javascript-page.display-card-1-initial .action-btn-2 {
  display: flex;
}
/* DISPLAY CARD 1 */
.javascript-page.display-card-1 .javascript-card-1 {
  transition: all 0.8s ease-in-out;
  transform: scale(1);
}
.javascript-page.display-card-1 .action-btn-1,
.javascript-page.display-card-1 .action-btn-3,
.javascript-page.display-card-1 .action-btn-4 {
  display: none;
}
.javascript-page.display-card-1 .action-btn-2 {
  display: flex;
}
/* DISPLAY CARD 2 */
.javascript-page.display-card-2 .javascript-card-2 {
  transition: all 0.8s ease-in-out;
  transform: scale(1);
}
.javascript-page.display-card-2 .javascript-card-1,
.javascript-page.display-card-2 .javascript-card-3 {
  transition: all 0.8s ease-in-out;
  transform: scale(0);
}
.javascript-page.display-card-2 .action-btn-1,
.javascript-page.display-card-2 .action-btn-2,
.javascript-page.display-card-2 .action-btn-4 {
  display: none;
}
.javascript-page.display-card-2 .action-btn-3 {
  display: flex;
}
/* DISPLAY CARD 3 */
.javascript-page.display-card-3 .javascript-card-3 {
  transition: all 0.8s ease-in-out;
  transform: scale(1);
}
.javascript-page.display-card-3 .javascript-card-1,
.javascript-page.display-card-3 .javascript-card-2 {
  transition: all 0.8s ease-in-out;
  transform: scale(0);
}
.javascript-page.display-card-3 .action-btn-1,
.javascript-page.display-card-3 .action-btn-2,
.javascript-page.display-card-3 .action-btn-3 {
  display: none;
}
.javascript-page.display-card-3 .action-btn-4 {
  display: flex;
}

.action-btn-2-back,
.action-btn-3-back {
  width: 100%;
  border-right: 1px solid white;
}
.action-btn-2-forward,
.action-btn-3-forward {
  width: 100%;
  border-left: 1px solid white;
}
.dark-light-theme-btn {
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 12;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.dark-light-theme-btn::after {
  content: "";
  width: 30px;
  height: 30px;
  position: absolute;
  z-index: 12;
  border-radius: 50%;
  background: rgb(255, 255, 200);
  box-shadow: 0 0 10px 1px orangered;
  transition: background 2s linear;
}
.javascript-page.theme-light {
  background: white;
}
.javascript-page.theme-light .heading,
.javascript-page.theme-light h2,
.javascript-page.theme-light .javascript-card-1,
.javascript-page.theme-light .javascript-card-2,
.javascript-page.theme-light .javascript-card-3 {
  color: black;
}
.javascript-page.theme-light .javascript-card-1,
.javascript-page.theme-light .javascript-card-2,
.javascript-page.theme-light .javascript-card-3 {
  background: white;
  box-shadow: -1px 2px 5px 2px rgba(0, 0, 0, 0.5);
}
.javascript-page.theme-light .sub-heading-1,
.javascript-page.theme-light .sub-heading-2,
.javascript-page.theme-light .heading {
  background: radial-gradient(ellipse at 50%, rgba(255, 255, 255, 0.7) 50%, transparent);
}
.rain-canvas-container-dark.remove {
  display: none;
}
.rain-canvas-container-light.add {
  display: block;
}
.javascript-page.theme-light .dark-light-theme-btn::after {
  background: radial-gradient(circle at 40% 40%, white, lightgray 50%, black);
  box-shadow: 0 0 10px 1px rgb(0, 0, 0, 0.5);
}
