@font-face {
  font-family: Lorea;
  src: url(./fonts/Lorea.ttf);
}
@font-face {
  font-family: Everleigh;
  src: url(./fonts/Everleigh.otf);
}
@font-face {
  font-family: Anime;
  src: url(./fonts/Anime.otf);
}
@font-face {
  font-family: LightningScript;
  src: url(./fonts/LightningScript.otf);
}
@font-face {
  font-family: Blackpast;
  src: url(./fonts/Blackpast.otf);
}
@font-face {
  font-family: Sega;
  src: url(./fonts/SEGA.TTF);
}
@font-face {
  font-family: Wonderland;
  src: url(./fonts/Wonderland.ttf);
}
@font-face {
  font-family: CallingFont;
  src: url(./fonts/CallingFont.ttf);
}
@font-face {
  font-family: Nourandilla;
  src: url(./fonts/Nouradilla.ttf);
}
@import url("https://fonts.googleapis.com/css2?family=Cormorant:wght@400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: "Cormorant", sans-serif;
}
body {
  background: black;
}
