@font-face {
  font-family: Lorea;
  src: url(./fonts/Lorea.ttf);
}
@import url("https://fonts.googleapis.com/css2?family=Cormorant:wght@400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: "Cormorant", sans-serif;
}
